name = "awcms-public-smandapbun"
main = "dist/_worker.js/index.js"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build"
cwd = "."
watch_dir = "src"

[site]
bucket = "./dist"

[vars]
ENVIRONMENT = "production"
